*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
}

body {
  background-color: #f2f1ed;
  color: #de4848;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
}

.text {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

div.text > p {
  margin: 5px;
  padding-top: 33px;
}

.text-up {
  margin: 0;
  padding: 0;
  display: block;
  height: 20vh;
  width: 100%;
}

.text-up p, a, h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center
}

.container {
  /* background-color: whitesmoke; */
  min-height: 70vh;
  align-content: center;
  display: flex;
  justify-content: center;
  /* padding: 30% 0 30% 0; */
  padding-top: 180px;
  margin: 0;

}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  gap: .5em;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: .1em;
}

.segment-title {
  font-size: 1rem;
}

@media screen and (max-width: 760px) {
  .container {
    display: block;
    /* background-color: #fff; */
    padding:0;
  }

  .container-segment {
    margin-top: 20px;
  }

  div.text h1 {
    font-size: 13px;
    color:#ae2525;
    letter-spacing: 2px;
  }

  div.text {
    padding: 10px 0;
  }
}